<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choice</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>Add a choice</h1></legend>
            <label for="question">select a choice</label>
            <select name="question" >
                {% for question in questions %}
                <option value="{{ question.id }}"> {{ question.question_text }}</option>
                {% endfor %}
            </select><br><br>
            <label for="choice">Choice</label>

            <input type="text" name="choice"><br><br>
           <button type="submit">Submit Question</button>


        </fieldset>
    </form>
</body>
</html>